mariadb/
.env
src/.deps
src/autom4te.cache
src/**/*.o
src/**/*.m4
src/**/*.guess
src/**/*.log
src/theforgottenserver
src/stamp-h1
src/missing
src/Makefile
src/Makefile.in
src/install-sh
src/depcomp
src/configure
src/config.h
src/config.h.in
src/config.status
src/config.sub
